
/* -----------------------------------------------
:: LAYOUT
--------------------------------------------- */

/* ------------
  :: GENERAL
  ---------- */

*{
	outline: 1px solid #F6A1A1;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
}

body{
	color: #fff;
	background-color: #000;
}



@media screen and (min-width:650px){

 	.header__top--left{
		order: 2;
	}

	.header__top--center{
		order: 1;
	}
}

@media screen and (min-width:800px){
	
	.wrapper{
		width: 780px;
		margin: 0 auto;
	}
}


/* ------------
 :: HEADER
 ---------- */

/* ------------
  :: Mobile
  ---------- */

.header__top{
	display: flex;
}

.header__top--left{
	order: 1;
}

.header__top--center{
	order: 2;
}

.header__top--right{
	order: 3;
}

/* ------------
 :: Desktop
 ---------- */

@media screen and (min-width:650px){
 	
 	.header__top--left{
		order: 2;
	}

	.header__top--center{
		order: 1;
	}


}

/* ------------
 :: ARTIST
 ---------- */

/* ------------
 :: Desktop
 ---------- */

@media screen and (min-width:650px){

 	.s-content__artist{
		display: flex;
	}	
 	
 	.artist__image{
		order: 2;
	}

	.artist__info{
		order: 1;
	}
}

/* ------------
 :: CONTACT
 ---------- */

/* ------------
 :: Desktop
 ---------- */

.content__image__main{


}


@media screen and (min-width:650px){

 	.contact__content{
		display: flex;
	}	
 	
 	.content__image__main{
		order: 2;
	}

	.content__info{
		order: 1;
	}
}




