/* -----------------------------------------------
:: ARTIST
--------------------------------------------- */

.artist__info__description{
	display: none;
}

.module__artist{
	height: 750px;
}

@media screen and (min-width: 650px){

 	.artist__info__description{
 		display: block;
 	}
}