/* -----------------------------------------------
  :: MODULE
  --------------------------------------------- */

.module{
	height: 450px;
}

.module__content{
	width: 80%;
	margin: 5em auto;
	text-align: center;
	color: white;
}

.module__title{
	margin: 0;
	padding: 1.2em 0 0.4em 0;
	font-family: 'Yeseva One', cursive;
}

.module__description{
	margin: 1.4em auto 0 auto;
}



