/* -----------------------------------------------
:: TESTIMONIAL
--------------------------------------------- */

.module__testimonial{
	height: 550px;
}


.testimonial__heading{
	text-align: center;
}

.quote{
	font-family: 'Yeseva One', cursive;
}