/* -----------------------------------------------
:: SUB-CONTENT
--------------------------------------------- */

.s-content__heading{
	text-transform: uppercase;
	text-align: left;
}

.s-content__heading__title{
	margin-bottom: 0;
}

.s-content__heading__subtitle{
	margin-top: 0;
	font-weight: 100;
}