/* -----------------------------------------------
:: SUB-CONTENT
--------------------------------------------- */

.content__heading, .s-content__heading{
	text-transform: uppercase;
	text-align: left;
}

.content__heading__title, .s-content__heading__title{
	margin-bottom: 0;
}

.content__heading__subtitle, .s-content__heading__subtitle{
	margin-top: 0;
	font-weight: 100;
}