/* -----------------------------------------------
  :: NAV
  --------------------------------------------- */

/* ------------
  :: Mobile
  ---------- */

.nav__primary{
	position: fixed;
	bottom: 0;
	right: 0;
}

.nav__item{
	display: inline-block;
	height: 3.5em;
  	line-height: 3.5em;
}

.nav__container{
	clear: right;
	height: 100px;
	background-color: #fff;
}

.nav__container--visible{
	display: block;
}

.nav__stack{
	float: right;
	margin-left: 73px;
	cursor: pointer;
}

.nav__stack__container{
	width: 3em;
	height: 3em;
}

.nav__stack__icon{
	fill: #fff;
}


.nav__item--selected{
 	display: inline-block;
 	border-top: 2px solid #fff;
}

/* skip link for accessibility */

.link__skip-all a{
	
	position: absolute;
	top:-40px;
	left:0px;
	padding:6px;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	color:white;
	
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

.link__skip-all a:focus {
	position:absolute;
	left:0px;
	top:0px;
	background:#BF1722;
	-webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}

/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 800px){

	.nav__stack{
		display: none;
	}

	.nav__primary{
		position: static;
	}

	.nav__container{
		display: block;
		background-color: transparent;
	}
	
	.nav__list{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: space-around;
		justify-content: space-around;
	}
}